%table.table
  %thead.thead-light
    %tr
      %th.minw-200 Start Location
      %th.minw-200 End Location
      %th Frequency
      %th.minw-150 Time
      %th.minw-100 Drop off
      %th.minw-100 Stops
      %th.minw-150 Slots
  %tbody
    - carpools.each do |carpool|
      %tr
        %td= link_to carpool.start_pickup_location.location, chapter_carpool_path(carpool.chapter, carpool)
        %td= carpool.end_pickup_location.location
        %td= carpool.frequency.try(:titleize)
        %td= carpool.start_pickup_location.pickup_time.strftime("%H:%M %p") rescue ''
        %td= carpool.end_pickup_location.dropoff_time.strftime("%H:%M %p") rescue ''
        %td= carpool.stops_count
        %td= carpool.remaining_seats
