%h4
  Personal Data
.header
%p.personal-info
  %strong Phone
  %br/
  = '(415) 240-6274'
%p.personal-info
  %strong E-mail
  %br/
  = 'me@marceloribeiro.us'
%p.personal-info
  %strong Github
  %br/
  = 'github.com/marcelorocks'
%h4
  Software Development
.header
%p.personal-info
  %ul
    %li Ruby, Ruby on Rails, Rails APIs
    %li Background processing in Resque, Sidekiq
    %li Deployments in Capistrano, Docker
    %li Javascript, EmberJS, AngularJS, ReactJS
    %li Java, Spring, Hibernate
    %li iOS (Objective-C, Swift)
    %li Android (Java, Kotlin)
    %li Third party APIs integration
%h4
  Dev Ops
.header
%p.personal-info
  %ul
    %li= 'AWS (EC2, RDS, S3)'
    %li OpenStack
    %li Google Cloud
    %li Heroku
    %li Ubuntu Linux
    %li= 'MySQL (Master - Slave)'
    %li= 'ElasticSearch (Clustering)'
    %li= 'MongoDB (Clustering)'
%h4
  Collaboration
.header
%p.personal-info
  %ul
    %li PivotalTracker, Jira, Trello
    %li Daily communication using Slack
    %li Scrum based projects (1, 2 week sprints)
    %li KanBan based projects
%h4
  Extra Skills
.header
%p.personal-info
  %ul
    %li App Store / Google Play publishing
    %li Rapid software development
    %li Green field code ok, Legacy code ok
    %li Application of DRY principles
    %li Scrum or KanBan project environments
%h4
  Languages
.header
%p.personal-info
  %ul
    %li Fluent english
    %li Fluent portuguese
    %li Intermediate german
    %li Basic spanish
%h4
  Education
.header
%p.personal-info
  %strong University of Sao Paulo
  %p
    Physics Bachelors Degree
