!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Carpoolers - The Open Source solution to carpooling
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans|Quicksand'
    = stylesheet_link_tag '//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', media: 'all', integrity: "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin: "anonymous"
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'
    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag '//code.jquery.com/jquery-3.3.1.slim.min.js', integrity: "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin: "anonymous"
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity: "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin: "anonymous"
    = javascript_include_tag '//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity: "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin: "anonymous"
    = javascript_include_tag 'application'

  %body
    = render 'shared/top_nav'
    .container-fluid
      .row
        .col-12
          = yield
